:root {
  --background: #fafafa;
  --foreground: #fff;
  --info-background: #f1f5fc;

  --text-primary: #000;
  --text-secondary: #a0a0a0;

  --button-primary: #000;
  --button-primary-hover: #333333;
  --link-primary: #000;
  --link-primary-hover: #a0a0a0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-inter);
  color: var(--foreground);
  font-size: 13px;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 15px;
}

a {
  color: var(--link-primary);
  border-color: var(--link-primary-border);
  gap: 8px;
}

input {
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
  padding: 13px 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px
}

label {
  font-weight: 600;
  display: flex;
}

button {
  cursor: pointer;
  background-color: var(--button-primary);
  color: var(--foreground);
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: 600;
}

button:hover {
  background-color: var(--button-primary-hover);
}