.page {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 10%;
}

.main {
  display: flex;
  width: 530px;
  max-width: 80%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}



@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}
